
@{
    Layout = "~/Views/MasterPage/MasterPage.cshtml";
}

<div class="card">
    <div class="card-header">
        <h4>Cargar factura</h4>
    </div>


    <div class="card-body">
        <form id="FormCargarArchivo">
            <input class="form-control" type="file" id="Archivo" name="Archico" value="" />
            <p class="text-danger">Imagen PNG</p>

            <input type="submit" value="Procesar" class="btn btn-success" />
        </form>
    </div>
</div>

<div class="grafico">

</div>

<script src="~/Scripts/SubirFactura/SubirFactura.js"></script>